* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f0e5e5a1;
  color: #444444;
  width: 100%;
  font-size: 1rem;
  line-height: 1.65;
  font-family: system-ui;
}

.menu:hover {
  color: white;
  cursor: pointer;
}

.menu {
  color: gray;
  transition: 1s;
  justify-content: flex-end;
  display: flex;
}

#header {
  background-color: #222222;
  color: #ffffff;
  height: 45px;
  font-family: system-ui;
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  padding: 0px 30px;
}

nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

#banner {
  background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#banner::after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#inner {
  text-align: center;
}

h1 {
  display: inline;
  font-size: 60px;
  color: white;
  font-family: system-ui;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
}

p {
  color: rgba(255, 255, 255, 0.747);
  margin-top: 50px;
  font-size: 28px;
  font-family: system-ui;
  color: rgba(255, 255, 255, 0.747);
}

/* highlights */

.highlights {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg, #ce1b28 100%, #111111 100%);
}

.s1 {
  width: 50%;
  height: 300px;
  margin: 50px;
  overflow: hidden;
  background-color: #ffffff;
  font-family: system-ui;
  padding: 3rem;
}

h3 {
  color: #555555;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
  padding: 0;
  border: 0;
  font: inherit;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.3;
}

.p6 {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: black;
  margin: 0;
}

#cta {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  background: linear-gradient(10deg, #ce1b28 50%, #8a10108f 90%);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: system-ui;
  height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #222222;
}

svg {
  margin-top: 30px;
}

.innerCTA {
  padding-left: 30px;
  padding-right: 30px;
  margin: 50px;
  font-size: 16p;
}
